

{% extends 'Core/base.html' %}
{% block "title" %}
Docter
{% endblock "title" %} 
{% block "codeblock" %}

<div class="container">
    <h1>{{title}}</h1>

    <div class="container">
        <p>Username: {{ user.username }}</p>
        <p>First Name: {{ user.first_name }}</p>
        <p>Username: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Phone: {{ user.phone }}</p>
        <p>Address: {{ user.address }}</p>
        {% if user.profile %}
            <img src="{{ user.profile.url }}" alt="Profile Image"class="img-thumbnail">
        {% endif %}
    </div>
</div>

<div>
  <h1 class="m-5 text-center">Appointments</h1>
  <div>
    {% if appointments %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Patient</th>
          <th scope="col">Start Date</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Date</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
        <tr>
          <th scope="row">{{appointment.patient.username}}</th>
          <td>{{appointment.date}}</td>
          <td>{{appointment.start_time}}</td>
          <td>{{appointment.end_time}}</td>
          <td><a href="/view/appointment/{{appointment.id}}/">View</a> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No appointments available.</p>
    {% endif %}
    
  </div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for blog in blogs %}
        <div class="card mb-3 m-1" style="max-width: 340px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{blog.image.url}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{blog.title}}</h5>
                  <p class="card-text">{{blog.status}}</p>
                  <a href="/blog/update/{{blog.id}}/"><button type="button" class="btn btn-primary">Update</button></a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
</div>


{% endblock "codeblock" %}